.bash_history
.bash_logout
Documents
Downloads
Pictures
Public
Desktop
Templates
Videos
Music
Projects
Work
.cache
.ssh
.cfg
cfb
.local
.npm
.pki
.texlive2025
.config/chromium
.config/microsoft-edge
.config/spotify
.config/libreoffice
