.bash_history
.bash_logout
Documents
Downloads
Pictures
Public
Desktop
Templates
Videos
Music
Projects
Work
Zotero
Windows
.cache
.ssh
.cfg
cfb
.local
.npm
.pki
.texlive2025
.config/chromium
.config/microsoft-edge*
.config/spotify
.config/libreoffice
.config/Electron
.config/ibus
.config/obsidian
.config/Pinta
.config/1Password
.config/QtProject.conf
.config/Typora
.config/brave-flags*
.config/elephant
.config/google*
.config/ktorrent*
.config/lazydocker
.config/menus
.config/ruffle
.config/systemd*
.config/vivaldi*
.config/gazelle
.config/BraveSoftware
.config/fastfetch
.claude/plugins
.zen
.steam
.steampath
.steampid
.wine
.spack
.renpy
.pulse-cookie
.gnupg
.cookiecutters
.cookiecutter_replay
node_modules
.oracle_jre_usage
.minecraft
.idoss.conf
.docker
.cargo
.zotero
.wget-hsts
.sigstore
.root_hist
.mozilla
