.bash_history
.bash_logout
Documents
Downloads
Pictures
Public
Desktop
Templates
Videos
Music
Projects
Work
.cache
.ssh
.cfg
cfb
.local
.npm
.pki
.texlive2025
.config/chromium
.config/microsoft-edge
.config/spotify
.config/libreoffice
.config/Electron
.config/ibus
.config/obsidian
.zen
.steam
.steampath
.steampid
.wine
.spack
.renpy
.pulse-cookie
.gnupg
.cookiecutters
.cookiecutter_replay
node_modules
.oracle_jre_usage
